@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

* {
  box-sizing: border-box;
}

.main-container {
  width: 100vw;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;

  background-color: rgb(214, 214, 214);
}

header {
  height: calc(100vh - 150px);
  background: no-repeat center/cover url('../../assets/header-image.jpg');
}

.header-content {
  max-width: 500px;
  margin: 200px auto;

  text-align: center;
}

.header-content h1 {
  font-size: 4rem;
  margin-bottom: 20px;
}

button {
  margin-top: 20px;
  padding: 10px 15px;
  border-radius: 8px;
  border: 0;

  font-weight: bold;
  background: #131F33;
  color: #fff;
}

header .navbar {
  display: flex;
  justify-content: space-between;

  margin: 0 30px;
}

header .navbar p {
  font-weight: bold;
}

header .navbar ul {
  list-style: none;
  display: flex;
  margin: 0;
}

header .navbar ul li {
  margin: 0 15px;
}

.cards {
  height: 500px;
}

/* Parte da responsividade */

/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 
  header {
    
  }
 }

 /* Landscape phones and down */
@media (max-width: 480px) {
  .main-container {
    height: calc(100vh - 55px);
  }

  header .navbar ul {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 0;
    margin: 0;

    font-weight: bold;
    background: #131F33;
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  header .navbar p {
    width: 100%;
    text-align: center;
  }

 }

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {  }

/* Large desktop */
@media (min-width: 1200px) {  }