@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

* {
  box-sizing: border-box;
}

.main-container {
  width: 100vw;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;

  background-color: rgb(214, 214, 214);
}

header {
  height: calc(100vh - 400px);
  background: no-repeat center/cover url('../../assets/header-image.jpg');
}

.header-content {
  max-width: 500px;
  margin: 100px auto;

  text-align: center;
}

.header-content h1 {
  font-size: 4rem;
  margin-bottom: 20px;
}

button.saibaMais {
  margin-top: 20px;
  padding: 10px 15px;
  border-radius: 8px;
  border: 0;

  font-weight: bold;
  background: #131F33;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}

header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 55px;

  margin: 0 30px;
}

header .navbar .logomarkDeveloper {
  display: flex;

  justify-content: center;
  align-items: center;
  padding: 10px;
}

header .navbar p {
  font-weight: bold;
  display: flex;
}

header .navbar .avocadoIcon {
  height: calc(1rem * 1.5);
  width: calc(1rem * 1.5);

  display: flex;
  margin-left: 5px;
}

header .navbar .githubLink {
  height: calc(1rem * 1.5);
  width: calc(1rem * 1.5);
  color: #fff;

  display: flex;
  margin-left: 5px;
}

header .navbar ul {
  list-style: none;
  display: flex;
  margin: 0;
}

header .navbar ul li {
  margin: 0 15px;

  display: flex;
  align-items: center;
  cursor: pointer;
}

header .navbar ul li div.faleConosco {
  border-radius: 5px;
  border: 1px solid #fff;
  padding: 6px;
  font-size: 0.9rem;

  font-weight: bold;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}

.pacotes {
  /* height: 500px; */
  background: #bbd0ff;
  padding: 1rem;
}

.pacotes .cardsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.pacotes .pacotesTitle {
  width: 100%;
  margin: auto;
  text-align: center;
  color: #131f33;
}

.pacotes .card {
  width: 250px;
  height: 350px;
  margin: 1.5rem;

  cursor: pointer;

  box-shadow: 5px 5px 5px #9aacd3;
  /* box-shadow: inset 0 0 0.5em blue; */
  border-radius: 24px 0px;
  background: #fff;
  color: #000;
  position: relative;
}

.pacotes .card-image {
  width: 250px;
  height: 200px;
  border-radius: 1.5rem 0 0 0;
  margin: auto;
  object-fit: cover;
}

.pacotes .card-content {
  padding: 1rem 1rem;
}

.pacotes .card-content ul {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.pacotes .card-content ul li {
  font-size: 0.7rem;
  display: flex;
  align-items: center;
  margin: 0.3rem 0;

  color: #505050;
  font-weight: bold;
}

.pacotes .card-content li svg {
  width: 0.9rem;
  height: 0.9rem;
  margin-right: 0.4rem;
}

.card-content h1 {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.pacotes .card .card-tag-top {
  position: absolute;
  right: 0;
  top: 15px;

  border-radius: 8px 0 0 8px;
  padding: 5px 10px;
  background: #0034a3;
  color: #fff;
}

.pacotes .card .card-tag-bottom {
  position: absolute;
  left: 0;
  top: calc(200px - 0.8rem);
  background: orange;
  color: #fff;
  border-radius: 0 8px 8px 0;
  padding: 5px 10px;
}

.pacotes .card .card-tag p {
  margin: 0;
  font-size: 0.8rem;
  font-weight: bold;
  color: #fff;
}

.services {
  padding: 1rem;
}

.services .servicesTitle {
  text-align: center;
  margin: 10px 0 40px 0;
}

.services .containerInfoServices {
  max-width: 950px;
  
  display: flex;
  justify-content: center;
  margin: auto;
  flex-wrap: wrap;
}

.services .infoService {
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px 30px;
}

.services .infoService svg {
  width: 60px;
  height: 60px;
  margin-bottom: 2.2rem;

  transition: all 1s;
}

.services .infoService svg:hover {
  stroke: #1D61D0;
  transform: scale(1.1);
}

.services .infoService .textContent {
  height: 180px;

  text-align: center;
}

.services .infoService h3 {
  font-weight: bold;

  margin-bottom: 20px;
}

.services .infoService span {
  color: grey;
  text-align: center;
  font-size: 1rem;
}


button.howThisWorks {
  padding: 10px 15px;
  border-radius: 8px;
  border: 0;

  cursor: pointer;
  /* font-weight: ; */
  background: #1D61D0;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}

.map {
  height: 400px;
  width: 100vw;

  position: relative;
  display: flex;
}

.map .leaflet-container {
  z-index: 5;
} 



/* Parte da responsividade */

/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 

 }

 /* Landscape phones and down */
@media (max-width: 480px) {
  .main-container {
    height: calc(100vh - 55px);
  }

  header .navbar ul {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 0;
    margin: 0;

    font-weight: bold;
    background: #131F33;
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    z-index: 10;
  }

  header .navbar .logomarkDeveloper {
    width: 100%;
    text-align: center;
  }
  
  button.howThisWorks.last {
    margin-bottom: 55px;
  }

 }

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {  }

/* Large desktop */
@media (min-width: 1200px) {  }